
body {
    font-size: larger;
    flex: 0 0 content;
}
/* p {
    border: 1px solid rgb(168, 22, 22);
} */

.header {
    text-align: center;
    background-color: rgb(185, 185, 185);
    padding: 10px;
    /* border: 1px solid; */
}
.center {
    display: flex;    
    /* border: 1px solid red; */
    background-color: rgb(252, 244, 204);

}
.osnova {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 1000px;
}

.vmeste {
    display: inline-block;
    background-color: rgb(235, 178, 125);
    padding: 15px;
    margin: 10px;
}
.Eche1 {
    display: inline-block;
    background-color: rgb(255, 242, 205);
    padding: 10px;
    /* border: 1px solid; */
}

.bok {
    display: inline-block;
    text-align: center;
    width: 900px;
    background-color: rgb(215, 235, 211);
    /* border: 1px solid;   */
}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(185, 185, 185);
    /* border: 1px solid; */
}
.items {
    background-color:rgb(255, 255, 255);
    padding: 15px;
    margin: 10px;
}