
body {
    font-size: larger;
    flex: 0 0 content;
}
/* p {
    border: 1px solid rgb(168, 22, 22);
} */

.header {
    text-align: center;
    background-color: rgb(185, 185, 185);
    padding: 10px;
    border: 1px solid;
}
.center {
    display: flex;    
    /* border: 1px solid red; */
    background-color: rgb(243, 231, 172);

}
.osnova {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 1000px;
}

.Eche
{
    /* background-color: rgb(249, 197, 52); */
    border: 1px solid;
}

.vmeste {
    display: inline-block;
    background-color: rgb(240, 160, 86);
}
.Eche1 {
    display: inline-block;
    background-color: rgb(249, 197, 52);
    padding: 10px;
    border: 1px solid;
}

.bok {
    display: inline-block;
    text-align: center;
    width: 900px;
    background-color: rgb(203, 254, 193);
    border: 1px solid;  
}

.footer {
    background-color: rgb(185, 185, 185);
    text-align: center;
    border: 1px solid;
}
.items {
    display: inline-block;
    background-color:rgb(255, 255, 255);
    padding: 15px;
}